<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="layout/layout :: library"></th:block>
    <script th:src="@{/js/blog.js}"></script>

</head>
<body>
<div th:replace="layout/modal :: modal('commonModal')"></div>
<div th:replace="layout/toast :: toast(${message})"></div>

<h2 class="text-center"> Danh sách Blog</h2>
<div class="container text-begin"  >
<a th:href="@{/blogs}" class="btn btn-success"> Home</a>
</div>

<div class="container text-end">
    <form action="/blogs" method="get" th:object="${searchDto}">

        <input type="text"
               name="tittle"
               placeholder="Search by title"
               th:field="*{tittle}">

        <input type="text"
               name="content"
               placeholder="Search by content"
               th:field="*{content}">

        <select name="idCategory" th:field="*{idCategory}">
            <option value="">-- All categories --</option>
            <option th:each="category:${category}"
                    th:value="${category.id}"
                    th:text="${category.name}">

            </option>
        </select>

        <button>Tìm kiếm</button>

    </form>
</div>

<form method="get" action="/blogs">
    <select name="size" onchange="this.form.submit()">
        <option value="3" th:selected="${size == 3}">3</option>
        <option value="5" th:selected="${size == 5}">5</option>
        <option value="10" th:selected="${size == 10}">10</option>
    </select>
</form>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>STT</td>
            <td>Tittle</td>
            <td>Content</td>
            <td>Category</td>
            <td>Xóa</td>
            <td>Xem chi tiết</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog,status:${blogs}">
            <td th:text="${currentPage * size + status.index + 1}"></td>
            <td th:text="${blog.title()}"></td>
            <td th:text="${blog.content()}"></td>
            <td th:text="${blog.categoryName()}"></td>
            <td>
                <button class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        th:data-id="${blog.id}"
                        th:data-title="${blog.title}"
                        onclick="setDeleteInfo(this)">
                    Xóa
                </button>

            </td>
            <td>
                <button class="btn btn-info"
                        data-bs-toggle="modal"
                        data-bs-target="#detailModal"
                        th:data-title="${blog.title()}"
                        th:data-content="${blog.content()}"
                        th:data-category="${blog.categoryName()}"
                        onclick="showDetail(this)">
                    Xem
                </button>

            </td>
        </tr>
        </tbody>
    </table>

    <div class="text-end">
        <a th:if="${hasPrev}"
           th:href="@{/blogs(page=${currentPage - 1}, size=${size})}">
            Prev
        </a>

        <a th:if="${hasNext}"
           th:href="@{/blogs(page=${currentPage + 1 }, size=${size})}">
            Next
        </a>

        <!--        <a th:if="${currentPage > 1}"-->
<!--           th:href="@{/blogs(page=${currentPage}-2, size=${size})}">-->
<!--            Prev-->
<!--        </a>-->

<!--        <a th:if="${currentPage < totalPages}"-->
<!--           th:href="@{/blogs(page=${currentPage}, size=${size})}">-->
<!--            Next-->
<!--        </a>-->
        Trang <span th:text="${currentPage+1}"></span>
        /
        <span th:text="${totalPages}"></span>
    </div>


    <div class="container">
        <a class="btn btn-primary" th:href="@{/blogs/add}">
            Thêm mới
        </a>

    </div>

</div>


<div class="modal fade" id="detailModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h5 class="modal-title" id="modalTitle"></h5>
                <p id="modalContent"></p>
                <p>
                    Category:
                    <strong id="modalCategory"></strong>
                </p>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <form method="get" th:action="@{/blogs/delete}">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id" id="deleteId">

                    <p>
                        Bạn có chắc muốn xóa:
                        <strong id="deleteTitle"></strong>
                        ?
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Hủy
                    </button>
                    <button type="submit" class="btn btn-danger">
                        Xóa
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>


<script>
    function showDetail(btn) {
        document.getElementById("modalTitle").innerText = btn.dataset.title;
        document.getElementById("modalContent").innerText = btn.dataset.content;
        document.getElementById("modalCategory").innerText = btn.dataset.category;
    }


    function setDeleteInfo(btn) {
        document.getElementById("deleteId").value = btn.dataset.id;
        document.getElementById("deleteTitle").innerText = btn.dataset.title;
    }


</script>


</body>
</html>