<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <th:block th:replace="layout/layout :: library"></th:block>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Thêm vào giỏ hàng </th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${flower}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td>
                <a th:href="@{/cart/add/{id}(id=${flower.id})}" class="btn btn-primary"> Thêm vào giỏ hàng</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>