<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Validator</title>
    <th:block th:replace="layout/layout :: library"></th:block>
</head>
<body>
<div th:replace="layout/toast :: toast(${message})"></div>
<form th:action="@{/validate/add}" method="get" th:object="${userDto}">
    <input type="text" th:field="*{name}" placeholder="Name">
    <small style="color: red" th:if="${#fields.hasErrors('name')}" > Name is required</small>

    <input type="text" th:field="*{phone}" placeholder="Phone">
    <small style="color: red" th:if="${#fields.hasErrors('phone')}" > Phone is required</small>

    <input type="number" th:field="*{age}" placeholder="Age">
    <small style="color: red" th:if="${#fields.hasErrors('age')}" > Age must be at least 18</small>

    <input type="text" th:field="*{email}" placeholder="Email">
    <small style="color: red" th:if="${#fields.hasErrors('email')}" > Email must not be gmail</small>

    <button type="submit">Submit</button>
</form>
</body>
</html>